@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Permanent Marker";
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 80%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 16px;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #75cbc9;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  padding: 0.5rem 1rem;
}

.icons {
  max-height: 1.5rem;
  border-radius: 2px;
}

.links {
  color: rgb(20, 20, 20);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  transition: transform 0.3s;
  display: inline-block;
}

.links:hover {
  transform: scale(1.1);
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  padding: 2rem 1rem;
  letter-spacing: 0.3rem;
}

h2 {
  text-align: center;
  font-size: 3.5rem;
  padding: 2rem 1rem;
  font-weight: 800;
  letter-spacing: 1rem;
}

main section div, .row {
  margin-top: 5%;
}

body section div div p {
  text-align: justify;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.avatar-img {
  width: 120%;
}

footer {
  background-color: #0394e8;
  letter-spacing: 0.7rem;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-weight: bold;
}

.titulo {
  text-align: center;
  font-size: 4rem; /* Asegúrate de que esto esté presente */
  font-weight: 900;
  padding: 2rem 1rem; /* Verifica si esto está aplicado */
  letter-spacing: 0.3rem;
}

.main-tec {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1%;
  padding: 1%;
}

.main-section-img {
  width: 30%;
  border-radius: 50%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progreso, .prox, .cursos, .title {
  width: 90%;
  padding: 1%;
  border-radius: 1%;
  box-shadow: 0 4px 8px rgba(139, 57, 57, 0.2);
  text-align: center;
  margin: 3%;
  margin-bottom: 3%;
}

.progreso-images, .prox-images, .cursos-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progreso img, .prox img, .cursos img {
  width: 4rem;
  height: auto;
  margin: 1rem;
}

.titulo {
  text-align: center;
  letter-spacing: 1rem;
}

.link {
  color: rgb(20, 20, 20);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  padding: 1rem;
}

.card-img-top {
  max-width: 40%;
}

.no-bg {
  background-color: transparent;
}

.footer-proyectos {
  margin-top: 3rem;
}

form {
  width: 80%;
}

main div div form h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

form input {
  width: 100%;
  margin: 5%;
}

form textarea {
  width: 100%;
  margin: 5%;
}

form #enviar {
  background-color: #0093E9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mx-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}

main div div li {
  list-style: none;
}

.contactame {
  margin-left: 5%;
}

.contactame img {
  display: block;
  width: 50%;
  margin: auto;
}

.iconos-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.iconos-nav ul {
  list-style-type: none;
  display: flex;
}

.iconos-nav li {
  margin: 0 1rem;
}

.iconos-nav img {
  width: 120%;
  height: auto;
  transition: transform 0.5s;
}

.iconos-nav img:hover {
  transform: scale(1.1);
}

.row div p {
  text-align: center;
}

.row div p img {
  width: 3%;
}

/* Estilos Mobile */
@media (max-width: 767px) {
  .progreso, .prox, .cursos, .title {
    width: 60%;
    margin: 2% 2%;
    padding: 2%;
  }
  .progreso img, .prox img, .cursos img {
    width: 1rem;
    height: auto;
    margin: 1rem;
  }
}
/* Estilos Tablets */
@media (min-width: 768px) {
  .progreso, .prox, .cursos, .title {
    width: 80%;
  }
}
/* Estilos Desktop */
@media (min-width: 992px) {
  .progreso, .prox, .cursos, .title {
    width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
