$primary-color: #0093E9;
$secondary-color: #75cbc9;
$background-gradient: linear-gradient(160deg, $primary-color 0%, #80D0C7 80%);
$text-color: rgb(20, 20, 20);
$font-family: "Permanent Marker";
$font-size-default: 16px;
$font-size-large: 4rem;
$font-size-medium: 3.5rem;
$font-size-small: 1.5rem;
$button-padding: 10px 20px;